---
import { socialIcons } from "../consts.ts";
import { Icon } from "astro-icon/components";
---

<div class="text-center bg-base-200 p-4 gap-4 transition-colors rounded-lg flex flex-wrap justify-center items-center">
  {
    socialIcons.map((icon) => (
      <a
        href={icon.href}
        target="_blank"
        class="duration-200 hover:rotate-6 hover:scale-110 inline-block leading-[30px] m-[0_5px] rounded-[10px] text-2xl text-center transition-color transition-scale w-[30px]"
        aria-label={icon.ariaLabel}
        title={icon.title}
      >
        <Icon name={icon.svg} />
      </a>
    ))
  }
</div>
